bump2version==1.0.1
wheel==0.37.1
watchdog==2.2.0
tox==3.24.5
coverage==6.3.2
Sphinx==4.3.0
m2r2==0.3.2
twine==3.8.0
pytest==7.1.1
setuptools>=39.0.1
bandit==1.7.4
flake8==4.0.1
safety==1.10.3
validators>=0.14.0
unittest2==1.1.0
xmlunittest==0.5.0
junit-xml==1.9
responses==0.20.0
