name: Dr Header Pull Request Handler
on: pull_request
jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            max-parallel: 4
            matrix:
                python-version: [3.5, 3.6, 3.7]
        steps:
            - name: Checkout Code
              uses: actions/checkout@v1
                
            - name: Set up Python
              uses: actions/setup-python@v1
              with:
                 python-version: ${{ matrix.python-version }}
              
            - name: Install PIP Dependencies
              run: pip install -r requirements_dev.txt

            - name: Test with Nosetests
              run: python -m nose --with-xunit --xunit-file=${{ matrix.python-version }}.results.xml

            - name: Upload Test results
              uses: actions/upload-artifact@master
              with:
                 name: Results - ${{ matrix.python-version }}
                 path: ${{ matrix.python-version }}.results.xml

            - name: Flake8 styles
              run: python -m flake8 drheader

            - name: Bandit security scan
              run: python -m bandit -r ./drheader

            - name: Safety dependency scan
              run: python -m safety check
